html, body { height: 100%; width: 100%; margin:0px;padding:0px;overflow:hidden;}

#dialog img {
    background-color: white;
}

#texture-mapper-menu {
    height: 100px;
    margin-top: 10px;

    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

#texture-mapper-image {
    height: calc(100% - 150px);
}

#texture-mapper-menu .form-horizontal {
    float: left;
    display: block;
    width: 300px;
    margin-left: 30px;
}
